/* Style the body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Custom Navbar Styling */
.navbar {
    background: linear-gradient(45deg, #2196F3, #673AB7);
}
.navbar a {
    color: black !important;
}

/* Made "Home" and "Visualizations" bold in the navbar */
.navbar .nav-item a {
    font-weight: bold; 
}

.navbar .dropdown-menu {
    background-color: #673AB7;
}
.navbar .dropdown-item {
    color: white !important;
}
.navbar .dropdown-item:hover {
    background-color: #512DA8;
}
#chart-container {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: 80vh;             /* Adjust height as needed */
}
canvas {
          height: 700px !important;
          
          background: white;
          border-radius: 10px;
          padding: 50px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          
      }

#sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin-top: 10px; /* Move it a little up */
}

#yearSlider {
  width: 40%; /* Set slider width */
  color: white; /* Change slider color */
}

#selectedYear {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#sliderContainer label {
  font-size: 20px; /* Adjust font size */
  font-weight: bold; /* Make it bold */
  text-align: center; /* Center align */
}
